@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "VAG Rounded LT W04 Thin";
    src: url("980cafe6f613d4b384ac55dc01296726.eot");
    src: url("980cafe6f613d4b384ac55dc01296726.eot?#iefix")format("embedded-opentype"),
        url("980cafe6f613d4b384ac55dc01296726.woff")format("woff"),
        url("980cafe6f613d4b384ac55dc01296726.woff2")format("woff2"),
        url("980cafe6f613d4b384ac55dc01296726.ttf")format("truetype"),
        url("980cafe6f613d4b384ac55dc01296726.svg#VAG Rounded LT W04 Thin")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "Recoleta Bold";
    src: url("f4d849075c9b4c0047fc56a828879854.eot");
    src: url("f4d849075c9b4c0047fc56a828879854.eot?#iefix")format("embedded-opentype"),
        url("f4d849075c9b4c0047fc56a828879854.woff")format("woff"),
        url("f4d849075c9b4c0047fc56a828879854.woff2")format("woff2"),
        url("f4d849075c9b4c0047fc56a828879854.ttf")format("truetype"),
        url("f4d849075c9b4c0047fc56a828879854.svg#Recoleta Bold")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}


/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Estilos para scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-500 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-600;
}
